<% if @conversation.info.product.present? %>
  <% product = @conversation.info.product %>
  詢問產品:<%= link_to product.name, products_path(product) %>
<% elsif @conversation.info.task.present? %>
  <% task = @conversation.info.task %>
  詢問任務:<%= link_to task.name, tasks_path(task) %>
<% end %>
<table id="product-properties" class="table-display" data-hook>
  <tbody>
    <% @conversation.messages.each do |message| %>
      <% css_class = cycle('even', 'odd', :name => "properties") %>
      <tr class="<%= css_class %>">
        <td><strong><%= message.sender.name %></strong></td>
        <td><%= message.body %></td>
      </tr>
    <% end %>
    <% reset_cycle('properties') %>
  </tbody>
</table>
<%= form_tag send_message_conversations_path(@conversation) do %>
  <%= render "spree/shared/error_messages", :target => @conversation %>

  <p class="conversation_body_field">
    <%= text_area_tag :body, '', :wrap => "virtual", :rows => "10", :cols => "50" %>
  </p>

  <p class="conversation_submit">
    <%= submit_tag '送出', :class => "button bg_darkfirst" %>
  </p>
<% end %>